<div class="card">
    <div class="card-head" [ngSwitch]="pet.type">
        <img *ngSwitchCase="'DOG'" src="https://placedog.net/250/250?random" class="card-img-top rounded">
        <img *ngSwitchCase="'CAT'" src="https://placekitten.com/g/250/250" class="card-img-top rounded">
    </div>

    <div class="card-body">
        <h5 class="card-title">{{pet.name}}</h5>
        <ul class="card-text">
            <li>Naissance : {{pet.birthday | date}}</li>
            <li>{{pet.availability ? "Disponible" : "Non disponible" }}</li>
        </ul>
        <div *ngIf="pet.availability && isBuyer" class="text-center">
            <a href="#" class="btn btn-primary center">Acheter</a>
        </div>
    </div>
</div>