<div id="loader-container" *ngIf="load">
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="main-container" *ngIf="!load">
    <div id="left-outlet" [ngClass]="{'full-width': !showOutlet}">
        <router-outlet id="main"></router-outlet>
    </div>
    <div id="right-outlet" [hidden]="!showOutlet">
        <router-outlet id="side" name="side" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
        </router-outlet>
    </div>
</div>